doctype html
html
    head
        title Mail
    body
        form(method="post" action="login")
            h1  登录
            span   请输入邮箱:
                input(type="text" id="Name" name="Name")
            br
            span   请输入密码:
                input(type="password" id="pwd" name="pwd")
                br
            br
            input(type="submit")
