<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>邮件系统</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <style>
        .container > small > a {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello! {{name}}, 欢迎进入邮件系统！</h1>
            <small><a href="http://127.0.0.1:3000/login/writemail">编写邮件</a></small>
            <small><a href="http://127.0.0.1:3000/login/readmail">查看邮件 <span class="badge">0</span></a></small>
        </div>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>