<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>邮件查看</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <style>
        .container>small {
            font-size: 18px;
        }
        .form > .row > .form-group {
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>
                <span>xxx</span>的邮件列表</h1>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1">

    </div>
    <div class="col-sm-7">
        <form class="form">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2">发件人：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2">发送时间：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2">邮件标题：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label">正文内容：</label>
                    <div>
                        <textarea class="form-control" disabled></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>