<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
	</head>
	<body>
		<h1>登录页面</h1>
		<form action="login-success" method="post">
			<label for="username">用户名：</label>
			<input type="text" name='username' id='username' placeholder="请输入用户名" value=''>
			<br>
			<label for="password">密码：</label>
			<input type="password" name='password' id='password' placeholder="请输入密码" value=''>
			<br>
			<input type="submit" value='登录'/>
		</form>
		<form action="/" method="get">
			<input type="submit" value='返回'/>
		</form>
	</body>
</html>
