doctype html
html
    head
        title Mail
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        div
            p 欢迎来到XXX邮件系统！请选择操作:
            a(href="register") 1. 用户注册
            br
            a(href="login") 2. 用户登录
