doctype html
html
    head
        title Mails
    body
        p   hello #{name}
        br

        p#check   你有一封来自 #{sender}的邮件

        div#mail
            #{title}
            br
            #{content}

        
        
           
