doctype html
html
    head
        title Mail
    body
        form(method="post") 
            h1  注册
            span   请输入邮箱:
                input(type="text" id="email" name="email")
            br
            span   请输入密码:
                input(type="password" id="pwd" name="pwd")
                br
            input(type="submit")
