<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Test</title>
</head>

<body>
    <header>
        <h1>
            <%= title %>
        </h1>
    </header>
    <nav>
        <span>
            <a title="主页" href="/">home</a>
        </span>
        <span>
            <a title="登陆" href="/user/login">login</a>
        </span>
        <span>
            <a title="注册" href="/user/reg">register</a>
        </span>
    </nav>
    </article>
</body>

</html>