<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>
			<%= title %>
		</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
	</head>
	<body>
		<div id="header">
			<h2>欢迎使用邮箱系统！</h2>
			<ul class="header-fold">
				<li><a href="/user/login">登录</a></li>
				<li><a href="/user/register">注册</a></li>
				<li><a href="">退出</a></li>
			</ul>
		</div>
		
	</body>
</html>
