<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			<%= title %>
		</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<div class="main">
			<h1>欢迎注册Dmail系统！</h1>
			<form action="" method="post">
				<span>用&nbsp;户&nbsp;名：</span>
				<input type="text" name="username" id="username" value="" /><br />
				<span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
				<input type="password" name="password" id="password" value="" /><br />
				<span>重复密码：</span>
				<input type="password" name="repassword" id="repassword" value="" /><br />
				<input type="submit" name="sub" id="sub" value="注册" />
			</form>
			<div>
				<span>已有账号？<a href="/users/login">点击这里</a>登录！</span>
			</div>
		</div>
	</body>

</html>