<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/register.css' />
  <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <h1 class="title">欢迎注册</h1>

  <div class="container">
    <form class="form-horizontal" role="form" action='' method='POST'>
      <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label col-sm-offset-1">用户名</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="user" placeholder="请输入用户名">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label col-sm-offset-1">邮箱</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="email" placeholder="请输入邮箱">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label col-sm-offset-1">密码</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password" placeholder="请输入密码">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <input type="button" value='注册' id='submit' class="btn btn-info col-sm-2">
        </div>
      </div>
    </form>
  </div>

  <!-- <script src='/javascripts/jquery.min.js'></script> -->
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script>

    $(function () {
      $('#submit').click(function () {
        if ($('#user').val() && $('#password').val() && $('#email').val()) {
          var usname = $('#user').val();
          var pwd = $('#password').val();
          var email = $('#email').val();
          $.ajax({
            url: '/api/users',
            data: {
              action: 'register',
              username: usname,
              password: pwd,
              email: email
            },
            type: 'post',
            success: function (data, status) {
              //获取数据data
              if (data !== 0) {
                location.href = data;
                return;
              }
            },
            error: function (data, err) {
              console.log(100);
              return;
            }

          });
        } else {
          alert('请填写完整');
        }

      });

      //这里是检查用户是否存在
      $('#user').blur(function () {
        let usname = $('#user').val();
        $.ajax({
          url: '/api/users/' + usname,
          data: {

          },
          type: 'get',
          success: function (data, status) {
            console.log(data);
            if (data == 0) {
              //这里表示存在了
              $('#user').css({
                'border': '1px solid red'
              });
              $('#submit').attr('disabled', true);
              return;
            }
            $('#user').css({
              'border': '1px solid #ccc'
            });
            $('#submit').attr('disabled', false);
            return;
          },
          error: function (err) {
            
          }
        });
      });
    
    });


  </script>
</body>

</html>