<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="email.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="index userHome">
        <h1 name="H" id="H"><%= name %> 请选择您需要的服务</h1>
        <a href="/mails/read">查看邮件</a>
        <a href="/mails/write">编写邮件</a>
        <a href="/mails/index">注销账号</a>
    </div>
</body>

</html>