<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf8">
		<title><%= title %></title>
	</head>

	<body>
	    <form action="/login" method="post">
			<p>
				username:<input type="text" name="username" />
			</p>
			<p>
				password:<input type="password" name="password" />
			</p>
			<p>
				<input type="submit" value="登录" />
				<a href="/register">没有帐号，点击注册</a>
			</p>
	    </form>
	</body>
</html>
