<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf8">
		<title><%= title %></title>
	</head>

	<body>
	    <form action="/register" method="post">
		<p>
		    username:<input type="text" name="name" />
		</p>
		<p>
		    password:<input type="password" name="pwd" />
		</p>
		<p>
		    <input type="submit" value="注册" />
			<a href="/login">已有帐号，点击登录</a>
		</p>
	    </form>
	</body>
</html>
