<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>欢迎来到邮件系统！</h1>
        </div>
    </div>
    <div class="outer">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-8">
                        <div style="display: none" class="l-side already-login">
                            <div style="display: none" class="writeMail Mail">
                                <h3>写邮件</h3>
                                <small>
                                    <a class="newMail" href="javascript:;">新建邮件</a>
                                </small>
                                <hr>
                                <!-- 编写邮件面板 -->
                                <form class="mail-send form" action="">
                                    <p class="send-warning"></p>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-1 col-sm-offset-1">
                                                <label class="control-label" for="title">标&nbsp;&nbsp;题</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="text" id="title" name="title">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-1 col-sm-offset-1">
                                                <label class="control-label" for="receiver">接&nbsp;收&nbsp;人</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="email" id="receiver" name="receiver">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-1 col-sm-offset-1">
                                                <label class="control-label" for="mailbody">正&nbsp;&nbsp;文</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" id="mailbody" cols="30" rows="10" name="mailbody" id="mail-body"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: right;" class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <input class="btn btn-primary send" type="submit" value="发送邮件">
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="readMail Mail">
                                <h3>邮件列表</h3>
                                <small>
                                    <a href="javascript:;">删除邮件</a>
                                    <a href="javascript:;">批量删除</a>
                                    <a href="javascript:;">操作</a>
                                    <a href="javascript:;">全部标记已读</a>
                                </small>
                                <hr>
                                <!-- 邮件列表面板 -->
                                <table class="mail-list table">
                                    <thead>
                                        <tr>
                                            <th>是否已读</th>
                                            <th>邮件标题</th>
                                            <th>发件人</th>
                                            <th>发件时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                                <p class="list-warning">您还没有收到邮件！</p>
                            </div>
                        </div>
                        <div style="padding: 50px 15px;" class="l-side no-login">
                            您还没有登录，赶快去登录吧！
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="r-side r-side-login">
                            <h4>登录</h4>
                            <hr>
                            <form action="">
                                <div class="r-group">
                                    <label for="email">邮箱</label>
                                    <input type="email" name="email" id="email" placeholder="请输入您的邮箱">
                                </div>
                                <div class="r-group">
                                    <label for="pwd">密码</label>
                                    <input type="password" id="pwd" name="pwd" placeholder="请输入您的密码">
                                </div>
                                <div class="r-group">
                                    <input class="btn btn-primary login" type="submit" value="登录">
                                </div>
                                <p>
                                    <span>还没有注册？
                                        <a id="goRegister" href="javascript:;">快速注册</a>
                                    </span>
                                </p>
                                <p class="login-warnning"></p>
                            </form>
                        </div>
                        <div style="display: none;" class="r-side r-side-register">
                            <h4>注册</h4>
                            <hr>
                            <form action="">
                                <div class="r-group">
                                    <label for="username">用户名</label>
                                    <input type="text" name="username" id="username" placeholder="请输入您的用户名">
                                </div>
                                <div class="r-group">
                                    <label for="mail">邮箱</label>
                                    <input type="email" name="mail" id="mail" placeholder="请输入您的邮箱">
                                </div>
                                <div class="r-group">
                                    <label for="password">密码</label>
                                    <input type="password" id="password" name="password" placeholder="请输入您的密码">
                                </div>
                                <div class="r-group">
                                    <label for="repassword">确认密码</label>
                                    <input type="password" id="repassword" name="repassword" placeholder="请重新输入您的密码">
                                </div>
                                <div class="r-group">
                                    <input class="btn btn-primary register" type="submit" value="注册">
                                </div>
                                <p>
                                    <span>已有账号？
                                        <a id="goLogin" href="javascript:;">马上去登录</a>
                                    </span>
                                </p>
                                <p class="register-warnning"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>