<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <a href="/login"><h3>登陆</h3></a>
    </p>
    <p>
      <a href="/register"><h3>注册</h3></a>
    </p>
  </body>
</html>
