<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form method="post">
    <p>
        <label for="username">用户：</label>
        <input type="text" name="username" id="username" value="">
    </p>
    <p>
        <label for="password">密码：</label>
        <input type="password" name="password" id="password" value="">
    </p>
    <p>
        <input type="submit" name="login" value="登陆">
    </p>
    <p>
        <a href="/register"><h3>没有账号，创建一个</h3></a>
    </p>
</form>
</body>
</html>