<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>
    <a href="/write"><h3>写邮件</h3></a>
</p>
<p>
    <a href="/list"><h3>读邮件</h3></a>
</p>
</body>
</html>