<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input[type="text"] {
            padding: 5px;
        }
        
        input[type="password"],
        input[type="submit"] {
            padding: 5px;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <form action="" method="POST">
        <input type="text" placeholder="please input username"><br>
        <input type="password"><br>
        <input type="submit">
    </form>
</body>

</html>
