<!DOCTYPE html>
<html>

<head>
    <title>login</title>
</head>

<body>
    <form>
        <label for="name">用户名：</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="pwd">密码：</label>
        <input type="password" id="pwd" name="pwd">
        <br>
        <input type="button" id="sub" value="登 录">
    </form>
    <script type="text/javascript">
        $("#sub").on("click", function () {
            var name = $("#name").val();
            var pwd = $("#pwd").val();
            var data = { "username": name, "password": pwd };
            $.ajax({
                url: "/user/login",
                type: "post",
                data: data,
                success: function (data, status) {
                    console.log(typeof data);
                    if (data !== 0) {
                        alert("登录成功！正在跳转！");
                        location.href = data;
                    }
                }
            })
        })
    </script>
</body>

</html>