doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 邮箱注册
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/login.css')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          a.navbar-brand(href='#') 邮件系统
      // /.container-fluid
    .container
      .col-md-12
        .col-md-4
        .col-md-4
          .col-md-12.formdiv
            form#registerForm(action='/register', method='POST')
              .form-group
                label.control-label(for='')
                  h3 邮箱注册
              .form-group
                label.control-label(for='') 邮箱账号
                div
                  input.form-control(type='text', placeholder='请输入您的邮箱账号', name='username')
              .form-group
                label.control-label(for='') 邮箱密码
                div
                  input.form-control(type='password', placeholder='请输入您的密码', name='password')
              label#message.control-label #{message}
              .form-group
                div
                  input#Msub.form-control.btn.btn-info.btn-login(type='submit', value='注册')
                  a#Msub.form-control.btn.btn-info.btn-login(type='button' href="/") 返回
        .col-md-4
