* {
    text-decoration: none;
}

.head {
    /*border: 1px solid black;*/
    text-align: center;
    width: 98%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 20px;
    font-family: "Microsoft YaHei UI";
    color: grey;
}

.head form > span {
    margin: 10px;
    text-align: left;
    display: inline-block;
    line-height: 30px;
    width: 100px;
    height: 30px;
}

.head form > input {
    margin: 20px;
    width: 300px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    color: grey;
    font-family: "Microsoft YaHei UI";
}

.text {
    position: relative;
    left: 1px;
    top: -125px;
}

.head form > textarea {
    margin: 20px;
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    color: grey;
    font-family: "Microsoft YaHei UI";
}

h1 {
    font-size: 40px;
    color: lightgrey;
}

#submit {
    border: 1px solid lightgrey;
    width: 150px;
    height: 40px;
}