doctype html
html
    head
        title Welcome
        link(rel='stylesheet', href='/stylesheets/checkMail.css')
        yield
        script(src="/javascripts/jquery-3.2.1.js")
        script(src="/javascripts/checkMail.js")
    body
        div.head
            h1 查看邮件
            form(action="/writeMail",method="POST")
                span 发送地址：
                input(type="text" name="sender" maxlength=50)
                br
                span 标题:
                input(type="text" name="title" maxlength=50)
                br
                span.text 内容:
                textarea(id="content" maxlength=242)
                br
                a(href="welcome") 返回邮件首页