doctype html
html
    head
        title Welcome
        link(rel='stylesheet', href='/stylesheets/welcome.css')
    body
        div.head
            p Welcome, #{name} 请选择以下功能
            a(href="writeMail") 1. 编写邮件
            br
            a(href="checkMail_all") 2. 查看邮件
