<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    h1 {
      padding-bottom: 12px;
      border-bottom: 1px dotted #000;
      text-shadow: 4px 4px 6px lightseagreen;
    }

    .gp {
      margin-top: 70px;
    }

    button {
      box-shadow: 4px 4px #ddd;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row text-center">
      <h1>邮件系统首页</h1>
    </div>
    <div class="row text-center">
      <h3>欢迎使用，请选择操作</h3>
    </div>
    <div class="row text-center gp">
      <button class="btn btn-lg col-sm-4 col-sm-offset-4 btn-primary" id='login'>登录</button>
    </div>
    <div class="row text-center gp">
      <button class="btn btn-lg col-sm-4 col-sm-offset-4 btn-danger" id='register'>注册</button>
    </div>


  </div>



  <!-- <script src='/javascripts/jquery.min.js'></script> -->
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script>
    $(function () {
      $('#login').click(function () {
        location.href = '/users/login';
      });
      $('#register').click(function () {
        location.href = '/users/register';
      });

    });

  </script>
</body>

</html>