<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			<%= title %>
		</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<div class="main">
			<h1><%= title %></h1>
			<div>
				<span>邮件名：</span>
				<span id="mailname"></span><br />
				<span>发件人：</span>
				<span id="senduser"></span>
				<span>发送时间：</span>
				<span id="time"></span><br />
				<span>邮件内容：</span>
				<p id="mainContent"></p>
			</div>
			<a href="/mail">返回邮件列表</a>
		</div>
	</body>

</html>