<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			<%= title %>
		</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<div class="main">
			<h1><%= title %></h1>
			<div>
				<table border="" cellspacing="" cellpadding="">
					<thead>
						<th>序号</th>
						<th>标题</th>
						<th>发件人</th>
						<th>发送时间</th>
						<th>邮件状态</th>
					</thead>
					<tbody>

					</tbody>
				</table>
				<a href="/main">返回首页</a>
			</div>
		</div>
	</body>

</html>