<!DOCTYPE html>
<html>

<head>
    <title>Read</title>
</head>

<body>
<h1>读邮件:</h1>
<div>邮件标题:<span><%=title %></span></div>
<div>邮件内容:<span><%=content %></span></div>
<div>发件人:<span><%=sender %></span></div>
</body>

</html>