<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
    <a href="/write">写邮件</a>
    <a href="/list">读邮件</a>
</body>
</html>