<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <!DOCTYPE html>
    <html>

    <head>
        <title>write</title>
    </head>

    <body>
        <h1>写邮件</h1>
        <form>
            <label for="email">目标邮箱：</label>
            <input type="email" id="email" name="email">
            <br>
            <label for="title">标题：</label>
            <input type="text" id="title" name="title">
            <br>
            <label for="cont">正文：</label>
            <textarea id="cont" name="cont" rows="20" cols="30"></textarea>
            <br>
            <input type="button" id="sub" value="发 送">
        </form>
        <a href="/main">返回</a>
        <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            $("#sub").on("click", function () {
                var email = $("#email").val();
                var title = $("#title").val();
                var cont = $("#cont").val();
                var sender;
                var arr = document.cookie.split('; ');
                for (var i = 0; i < arr.length; i++) {
                    var arr2 = arr[i].split('=');
                    if (arr2[0] == "email") {
                        sender = arr2[1];
                    }
                }
                var data = { "receiver": email, "title": title, "cont": cont, "sender": sender };
                $.ajax({
                    url: "/write",
                    type: "post",
                    data: data,
                    success: function (data, status) {
                        if (status === "success") {
                            console.log("success");
                            alert("send success!");
                            location.href = 'main';
                        }
                    }
                })
            })
        </script>
    </body>

    </html>
</body>

</html>