<!DOCTYPE html>
<html>

<head>
    <title>注册</title>
</head>

<body>
    <h1>
        <%=title%>
    </h1>
    <form>
        <label for="email">邮箱：</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="name">用户名：</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="pwd">密码：</label>
        <input type="password" id="pwd" name="pwd">
        <br>
        <input type="button" id="submit" value="注 册">
    </form>
</body>


</html>