<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <form action="/users/register" method="post">
        <label for="name">用户名：</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="pwd">密码：</label>
        <input type="password" id="pwd" name="pwd">
        <br>
        <label for="email">邮箱：</label>
        <input type="email" id="email" name="email">
        <br>
        <input type="button" id="sub" value="注 册">
    </form>
</body>


</html>