<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>

<body>
    <h1 class="title">尊敬的用户:
        <%= name %> 欢迎使用邮件系统</h1>

    <div class="center">
        <ul>
            <li>
                <a href="/mails/write">编写邮件</a>
            </li>
            <li>
                <a href="/mails/read">查看邮件</a>
            </li>
            <li>
                <a href="/users/logout">注销登录</a>
            </li>
        </ul>
    </div>
</body>

</html>