<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/register.css' />
</head>

<body>
  <h1 class="title">欢迎注册</h1>
  <div class="center">
    <form action="">
      <span>用户名:</span>
      <input type="text" placeholder="请填写用户名" name='username' id='user'>
      <br>
      <span>密码:&nbsp;&nbsp;&nbsp;</span>
      <input type="password" placeholder="请填写密码" name='password' id='password'>
      <br>
      <input type="button" value='注册' id='submit'>
      <a type="button" href='/users/login'>已有账号，前去登录</a>
    </form>
  </div>


  <script src='/javascripts/jquery.min.js'></script>
  <script>

    $(function () {
      $('#submit').click(function () {
        if ($('#user').val() && $('#password').val()) {
          var usname = $('#user').val();
          var pwd = $('#password').val();
          $.ajax({
            url: '/users/register',
            data: {
              username: usname,
              password: pwd
            },
            type: 'post',
            success: function (data, status) {
              //获取数据data
              if (data !== 0) {
                location.href = data;
                return;
              }
            },
            error: function (data, err) {
              console.log(100);
              return;
            }

          });
        } else {
          alert('请填写完整');
        }

      });

      //这里是检查用户是否存在
      $('#user').blur(function () {

        let usname = $('#user').val();
        //传入
        $.ajax({
          url: '/users/uscheck',
          data: {
            username: usname
          },
          type: 'post',
          success: function (data, status) {
            if (data == 0) {
              //这里表示存在了
              $('#user').css({
                'border': '1px solid red'
              });
              $('#submit').attr('disabled', true);
              return;
            }
            $('#user').css({
              'border': '1px solid #000'
            });
            $('#submit').attr('disabled', false);
            return;
          },
          error: function (data, err) {
            console.log(10001);
          }
        })
      });


    });


  </script>
</body>

</html>