<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/write.css' />
</head>

<body>
    <h1 class="title">尊敬的用户:
        <%= name %> 欢迎使用邮件编写服务</h1>
    <div class="center">
        <form action="" method="POST">
            <input type="hidden" name='sender' id='sender' value=< %=n ame %> >
            <br>
            <span class="options">收件人</span>
            <input type="text" placeholder="请填写收件人地址" name='receiver' id='receiver'>
            <br>
            <span class="options">标题</span>
            <input type="text" placeholder="请填写标题" name='title' id='title'>
            <br>
            <span class="options">正文</span>
            <textarea name="body" id="" cols="30" rows="10" id='body'></textarea>
            <br>
            <input type="button" value="提交" id='submit'>
            <input type="reset" value='重置'>
        </form>

    </div>



    <script src='/javascripts/jquery.min.js'></script>
    <script>
        $(function () {
            //检验收件人是否存在
            $('#receiver').blur(function () {
                if ($('#receiver').val()) {
                    if ($('#receiver').val() !== $('#sender').val()) {
                        console.log('对了');
                        $.ajax({
                            url: '/mails/recheck',
                            type: 'post',
                            data: {
                                receiver: $('#receiver').val()
                            },
                            success: function (data, status) {
                                if (data === '0') {
                                    $('#receiver').css({
                                        border: '1px solid red'
                                    });
                                    $('#submit').attr('disabled', true);
                                    return;
                                }
                                $('#receiver').css({
                                    border: '1px solid #999'
                                });
                                $('#submit').attr('disabled', false);
                                return;
                            },
                            error: function (data, err) {
                                console.log(10101);
                                return;
                            }
                        });
                    } else {
                        console.log('收件人不能是自己');
                    }
                } else {
                    console.log('收件人不能为空');
                }

            });


            //邮件提交
            $('#submit').click(function () {
                if ($('#receiver').val() && $('#title').val() && $('#body').val()){
                    $.ajax({
                        url:'/mails/write',
                        type:'post',
                        data:{
                            sender:$('#sender').val(),
                            receiver:$('#receiver').val(),
                            title:$('#title').val(),
                            body:$('#body').val()
                        },
                        success:function(data, statud){
                            
                        },
                        error:function(data, err){

                        }
                    })
                } else {
                    alert('请填写完整');
                    return false;
                }

            });


        });

    </script>
</body>

</html>