<!DOCTYPE html>
<html>

<head>
    <title>write</title>
</head>

<body>
        <h1>写邮件</h1>
        <form action="/read" method="post">
            <label for="receiver">目标邮箱：</label>
            <input type="receiver" id="receiver" name="receiver">
            <br>
            <label for="title">标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</label>
            <input type="text" id="title" name="title">
            <br>
            <br>
            <label for="cont">正文：</label>
            <textarea id="cont" name="content" rows="20" cols="30"></textarea>
            <br>
            <br>
            <input type="submit" value="发 送">
        </form>
        <br>
        <button>
            <a href="/main">返回</a>
        </button>
</body>

</html>