<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			<%= title %>
		</title>
	</head>

	<body>
		<div class="main">
			<h1>欢迎使用邮件系统！</h1>
			<div>
				<a href="/user/login">登录</a>
				<a href="/user/register">注册</a>
			</div>
		</div>
	</body>

</html>