<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			<%= title %>
		</title>
	</head>
	<body>
		<h1>
			<%= message %>
		</h1>
		<a href="/user/login/success">返回</a>
	</body>
</html>
