<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="index">
        <h1>* 欢 迎 使 用 邮 件 系 统 *</h1>
        <a href="/users/login">登录</a>
        <a href="/users/register">注册</a>
    </div>
</body>

</html>