doctype html
html
    head
        title Mail List
        link(rel='stylesheet', href='/stylesheets/checkMail_all.css')
    body
        div.head
            h1 邮件列表
            //h2 点击查看详细信息
            - var array = mailArr
            //ul
            //    - for (var i = 0; i < array.length; ++i) {
            //    li  #{array[i]}
            //    - }
            table(border="0" cellspacing="0")
                tr
                    th id
                    th sender
                    th title
                - for (var i = 0; i < array.length; ++i) {
                    tr
                        td #{array[i].split(" ")[1]}
                        td #{array[i].split(" ")[3]}
                        td #{array[i].split(" ")[7]}
                - }
