doctype html
html
    head
        title Welcome
        link(rel='stylesheet', href='/stylesheets/writeMail.css')
    body
        div.head
            h1 编写邮件
            form(action="/users/writeMail",method="POST")
                span 接受地址：
                input(type="text" name="receiver" maxlength=50)
                br
                span 标题:
                input(type="text" name="title" maxlength=50)
                br
                span.text 内容:
                textarea(name="content" maxlength=242)
                br
                input(type="submit" id="submit")