* {
    text-decoration: none;
}
.info {
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    width: 97%;
}

.info > span {
    color: black;
    font-size: 18px;
    font-family: "Microsoft YaHei UI";

}

a {
    margin: 20px auto;
    display: block;
    border: 1px solid lightgrey;
    background: lightgrey;
    cursor: pointer;
    font-size: 20px;
    font-family: "Microsoft YaHei UI";
    line-height: 35px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    color: #80808B;
}

a:hover {
    color: #80808B;
}

input {
    margin: 20px;
    width: 200px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 5px;
}

h1 {
    font-size: 40px;
    color: lightgrey;
}