* {
    text-decoration: none;
}

a {
    margin: 0 auto;
    display: block;
    border: 1px solid lightgrey;
    background: lightgrey;
    cursor: pointer;
    font-size: 20px;
    font-family: "Microsoft YaHei UI";
    line-height: 35px;
    width: 150px;
    height: 35px;
    color: #80808B;
    border-radius: 5px;
}

a:visited {
    color: #80808B;
}

.head {
    text-align: center;
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
    color: grey;
}

.head > p {
    padding-top: 10%;
    line-height: 200px;
}