<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录界面</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
	</head>
	<body>
		<div id="header">
			<ul class="header-fold">
				<li><a href="/user/login">登录</a></li>
				<li><a href="/user/register">注册</a></li>
				<li><a href="">退出</a></li>
			</ul>
		</div>
		<form action="">
			<div class="username">
				<p>用户名：</p>
				<input type="text" name="username" id="username" placeholder="请输入您的用户名" />
			</div>
			<div class="password">
				<p>密&nbsp;&nbsp;码：</p>
				<input type="password" name="password" id="password" placeholder="请输入您的密码" />
			</div>
			<div class="button">
				<input type="submit" name="sub" id="sub" value="登&nbsp;&nbsp;录" />
			</div>
		</form>
		<div class="foot">
			<span>不存在该帐号！<a href="/user/register">点击注册！</a></span>
		</div>
	</body>
</html>
