<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册界面</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
	</head>
	<body>
		<div id="header">
			<ul class="header-fold">
				<li><a href="/user/login">登录</a></li>
				<li><a href="/user/register">注册</a></li>
				<li><a href="">退出</a></li>
			</ul>
		</div>
		<form action="">
			<div class="username">
				<p>用户名：</p>
				<input type="text" placeholder="请输入您的用户名" />
			</div>
			<div class="password">
				<p>密&nbsp;&nbsp;码：</p>
				<input type="password" placeholder="请输入您的密码" />
			</div>
			<div class="button">
				<input type="submit" value="注&nbsp;&nbsp;册" />
			</div>
			<script src="http://code.jquery.com/jquery-latest.js"></script>
			<script>
				$(function(){
					$('#sub').on('click',function(){
						var pwd = $('#password').val();
						var repwd = $('#repassword').val();
						console.log(pwd);
						if(pwd === repwd){
							$.ajax({
								type:'post',
								url:"/users/register",
								data:{
									'username':$('#username').val(),
									'password':pwd,
									'sub':'注册'
								},
								async:false,
								error:function(){
									alert('服务器访问错误！')
								},
								success:function(data){
									if(data !== 'username_existed'){
										window.location.href = data;
									}else{
										alert(data);
									}
								}
							});
						}else{
							alert('两次密码输入不一致，请重新输入');
						}	
					});
					
				})
			</script>
		</form>
	</body>
</html>
